body{
  background-color: papayawhip;
}

.Title{
  font-family: 'Alex Brush', 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: 50pt;
  color:maroon;
}

.scrollBox{
  //font-family: 'Courier New', Courier, monospace;
  color:maroon;
  text-align:center;
  position: absolute;
  height:75px;
  width:250px;
  border:2px solid peachpuff; 
  margin-left:80%;
  margin-right:5%;
}

.scrollBox a{
  color: maroon;
}

.navbar{
  font-family: 'Alex Brush', 'Courier New', Courier, monospace;
  width:100%;
    position:relative;
    text-align:center;
    border:2px solid peachpuff;
  a{
  color: maroon;
  }
}

.nav-menu{
  width:25%;
  padding-left:30px;
  padding-right:30px;
}

.carousel-inner > .carousel-item > img {
  width:150px;
  height:250px;
}

.carousel-inner{
  border:2px solid peachpuff;
  width:200px;
}

#Top-Pic{
  width:150px;
  height:250px;
}

a{
  color:maroon;
}

.btn {
  background-color: maroon;
  border:1px solid maroon;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn a{
    color: papayawhip;
}
