body{
  background-color: papayawhip;
}

.navbar{
  width:100%;
    position:relative;
    text-align:center;
    border:2px solid peachpuff;
}


.nav-menu{
  width:25%;
  padding-left:30px;
  padding-right:30px;
  //border:1px solid peachpuff
}
