body{
  background-color: papayawhip;
}

.Title{
  font-family: 'Alex Brush', 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: 50pt;
  color:maroon;
}

.scrollBox{
  //font-family: 'Courier New', Courier, monospace;
  color:maroon;
  text-align:center;
  position: absolute;
  height:75px;
  width:250px;
  border:2px solid peachpuff; 
  margin-left:85%;
  margin-right:0%;
}

.scrollBox a{
  color: maroon;
}

.navbar{
  font-family: 'Alex Brush', 'Courier New', Courier, monospace;
  width:100%;
    position:relative;
    text-align:center;
    border:2px solid peachpuff;
}


.nav-menu{
  width:25%;
  padding-left:30px;
  padding-right:30px;
}

.carousel-inner > .carousel-item {
  //width:100%;
  //height:200px;
}

.carousel-inner{
  border:2px solid peachpuff;
  //height:200px;
}

a:link{
  color:maroon;
}

a:active{
  font-style:bold;
}
